@charset "utf-8";

/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 */
html,body,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,ol
	{
	padding: 0;
	margin: 0;
}

html * {
	outline: 0;
	zoom: 1;
}

* html {
	background-image: url(about:blank);
	background-attachment: fixed; /* 解决固定层在IE6下闪的问题 */
}

html {
	zoom: 1;
	overflow: scroll;
	overflow-x: hidden;
	overflow-x: auto !important;
}

body {
	color: #333;
	font: 12px Arial, Lucida, Verdana, Helvetica, SimSun, sans-serif;
}

a {
	outline: none;
	text-decoration: none;
	color: #0099FF;
	blr: expression(this .   onFocus =   this .   blur() );
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,a img {
	border: 0;
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

select {
	vertical-align: middle;
}

textarea {
	font-size: 12px;
	width: 98%;
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input	{
	background-color: #ffffff;
	border: 1px solid #ccc;
	height: 22px;
	line-height: 22px;
	padding-left: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus	{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

input[type="button"]:focus,input[type="checkbox"]:focus,input[type="file"]:focus,input[type="hidden"]:focus,input[type="image"]:focus,input[type="radio"]:focus,input[type="reset"]:focus,input[type="search"]:focus,input[type="submit"]:focus,input[type="file"]:focus::-webkit-file-upload-button {
	outline-offset: 0px;
}

input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]::-webkit-file-upload-button,button {
	padding: 1px 6px;
}

input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]::-webkit-file-upload-button,button {
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: buttonface;
	box-sizing: border-box;
}

input[type="button"],input[type="submit"],input[type="reset"] {
	-webkit-appearance: push-button;
	white-space: pre;
}

input,input[type="password"],input[type="search"],isindex {
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: white;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

input,textarea,keygen,select,button,isindex {
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}

input,textarea,keygen,select,button,isindex,meter,progress {
	-webkit-writing-mode: horizontal-tb;
}

input[type="radio"] {
	margin: 3px 3px 0px 5px;
}

input[type="radio"] {
	-webkit-appearance: radio;
	box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
	margin: 3px 0.5ex;
	padding: initial;
	background-color: initial;
	border: initial;
}

/**
 +------------------------------------------------------------------------------
 | 模块公共样式
 +------------------------------------------------------------------------------
 */
.breadcrumb {
	background-color: #FAFAFA;
	line-height: 28px;
	padding: 0 10px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #FFF #000 #D9D9D9;
}

.breadcrumb li {
	float: left;
	margin-right: 5px
}

.clearfix {
	display: block;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.right_wrapper {
	background-color: #FFF;
	padding: 5px 5px;
	margin-bottom: 40px;
}

.right_wrapper h2 {
	font-size: 14px;
	font-weight: bold;
}

.class_screen {
	height: 38px;
	line-height: 38px;
	background: #FAFAFA;
	border-top: 2px solid #ddd;
	border-bottom: 1px dotted #ddd;
}

.classify a {
	height: 22px;
	line-height: 22px;
	display: inline-block;
	text-align: center;
	margin: 0px 3px;
	padding: 2px 6px;
}

.classify a.curr,.classify a:hover {
	background: #08c;
	color: #ffffff;
	text-decoration: none;
}

.screen {
	margin-left: 50px;
}

.screen a {
	margin: 0px 3px;
}

.query_list {
	border-bottom: #ddd 1px solid
}

.query_list>ul {
	display: block;
}

.query_list>ul>li {
	margin:5px 10px 5px 10px;
	height:29px;
	line-height:29px;
	float: left;
	white-space: nowrap;
}

.query_list>ul>li>strong {
	float: left;
}

.query_list>ul>li.w300 {
	width: 300px;
}

.query_list>ul>li.w360 {
	width: 360px;
}

.query_list>ul>li.w50 {
	width: 50px;
}

.query_list_tab {
	width:100%;min-width:800px;border-collapse:collapse;border-bottom: #ddd 1px solid;
}
.query_list_tab td {
	padding:2px;
}

.top_line {
	border-top: #ddd 1px solid
}

.bottom_line {
	border-bottom: #ddd 1px solid
}

/*灰色表格*/
.gray_tab th {
	padding: 2px 0px 2px 2px;
	border-top: 1px solid #ddd;
	background: #FAFAFA;
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.gray_tab td {
	padding: 2px 0px 2px 2px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 38px;
	line-height: 1.5em;
}

.gray_tab .tr_hover {
	-webkit-border-radius: 3px;
	background: #EFF6FF;
	background: -webkit-gradient(linear,0% 1,0% 100%,from(#FFF),to(#EFF6FF));
}

.ta_c th, .ta_c td {
	text-align: center;
}

.bi_tab th {
	font-family: 宋体, Arial;
	border-right: 1px solid #ddd; 
	border-bottom: 1px solid #ddd; 
	border-top: 1px solid #ddd; 
	letter-spacing: 2px; 
	text-transform: uppercase; 
	padding: 2px 10px;
	height: 34px;
	line-height: 16px;
	background: #FAFAFA no-repeat;
}

.bi_tab td {
	font-family: 宋体, Arial;
	border-right: 1px solid #ddd; 
	border-bottom: 1px solid #ddd; 
	background: #fff; 
	padding: 2px;
	height: 20px;
}

.page {
	text-align: right;
	font-size: 14px;
	color: #999999;
}

.price {
	font-family: Georgia;
	font-size: 14px;
	color: #FF6600;
}

.keynote {
	font-family: Georgia;
	font-size: 14px;
	color: #FF6600;
}

.win {
	border: solid #6fcaf0 6px;
	width: 720px;
	position: absolute;
	z-index: 1000;
	background: #fff;
	display: none;
}

.win h1 {
	background: repeat-x left bottom #edfbff;
	height: 26px;
	line-height: 26px;
	font-weight: bold;
	border-bottom: 1px solid #c3ebf8;
	border-top: 1px solid #c3ebf8;
	font-size: 12px;
	text-indent: 10px;
	color: #000;
	cursor: move;
}

.win h1 img {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.win .win_body {
	padding: 10px;
	max-height: 400px;
}

.win .win_loading {
	padding: 10px;
	text-align: center;
	display: none;
}

.select-header {
	padding: 5px;
	width: 214px;
	border: solid #c3ebf8 1px;
	color: #fff;
	background-color: #08c;
	text-align: center;
}

.mainTable {
	width: 100%;
	padding: 10px;
	border: none;
	table-layout: fixed;
}

.mainTable td {
	padding: 4px 4px 4px 0px;
	word-break: break-all;
	word-wrap:break-word;
}

.sp_l {
	display: -moz-inline-box;
	display: inline-block;
	width: 80px;
}

.sp_r {
	display: -moz-inline-box;
	display: inline-block;
}

input.btn {
	cursor: pointer;
	top: 110px;
	left: 18px;
	padding: 5px 15px;
	color: #333;
	margin-right: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f1f1f1) ); );
	border: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

input.btn:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #FFF),
		color-stop(1, #EFF6FF) );
	border: 1px solid #3499ff;
}

input.btn:active {
	background: #ddd;
	border: 1px solid #bbb;
	-webkit-box-shadow: none;
}

input.btn_orange {
	cursor: pointer;
	top: 110px;
	left: 18px;
	font-weight: bold;
	padding: 5px 15px;
	color: #fff;
	margin-right: 5px;
	background: #FF8C00;
	border: 1px solid #CD6600;
}

input.btn_orange:hover {
	background: #FFC500;
	border: 1px solid #CD6600;
}

input.btn_blue {
	cursor: pointer;
	top: 110px;
	left: 18px;
	font-weight: bold;
	padding: 5px 15px;
	color: #fff;
	margin-right: 5px;
	background: #009ACD;
	border: 1px solid #00688B;
}

input.btn_blue:hover {
	background: #00C2EE;
	border: 1px solid #00688B;
}

.panel_left {
	width:100%;
	background:#ffaabb;
	height:200px;
	max-height: 200px;
	overflow: auto;
	float:left;
	margin-right:-400px;
}

.panel_right {
	width:400px;
	height:200px;
	background:#339966;
	float:right;
}

/* tabbox */
.tabbox{min-width:800px;}
.tabbox .tabbtn{height:30px;background:url(../images/tabbg.gif) repeat-x;border-left:solid 1px #ddd;border-right:solid 1px #ddd;}
.tabbox .tabbtn li{float:left;position:relative;margin:0 0 0 -1px;}
.tabbox .tabbtn li a,.tabbox .tabbtn li span{display:block;float:left;height:30px;line-height:30px;overflow:hidden;width:108px;text-align:center;font-size:12px;cursor:pointer;}
.tabbox .tabbtn li.curr{border-left:solid 1px #ddd;border-right:solid 1px #ddd;border-top:solid 1px #ddd;}
.tabbox .tabbtn li.curr a,.tabbox .tabbtn li.curr span{border-top:solid 2px #0099FF;height:27px;line-height:27px;background:#fff;color:#000;font-weight:800;}
.tabbox .tabcon{border-width:0 1px 1px 1px;border-color:#ddd;border-style:solid;}

/* select */
.select{position:relative;float:left;z-index:99;}
.select dt{height:26px;display:inline-block;border:1px solid #ccc;background:#fff url(../images/ico.gif) no-repeat 137px center;line-height:26px;font-weight:bold;padding-left:10px;cursor:pointer;width:130px;padding-right:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:relative;}
.select dt:hover,.select dt.cur{border:1px solid #409dfe;box-shadow:0 0 3px #409DFE;}
.select dd{position:absolute;left:0;top:29px;border:1px solid #409dfe;background:#fff;display:none;}
.select dd ul{padding:4px;width:144px;max-height:280px;overflow:auto;}
.select dd ul li a{line-height:28px;display:block;padding:0 8px;text-decoration: none;color: #666;}
.select dd ul li a:hover{background:#f5f5f5;}

/* 展开收起 */
.query_up{position:relative;margin-top:-20px;float:right;background:url(../images/up.png);width:16px;height:16px;cursor:pointer;}
.query_down{position:relative;margin-bottom:-20px;float:right;background:url(../images/down.png);width:16px;height:16px;cursor:pointer;}
.query_up_bs{position:relative;margin-top:-33px;float:right;}
.query_down_bs{position:relative;margin-bottom:-32px;float:right;}

/* 标注 */
.label{padding:1px 4px 2px;font-size:12px;font-weight:bold;line-height:12px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;background-color:#999}
.label{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}

/* 导出 */
.menucontainer{display:none;position:absolute;padding-top:32px}
.menupanel{width:150px;border:1px solid #d2ccc4;z-index:99;background-color:#fff;padding:5px;}
.menuitem{padding:3px 0px;cursor:pointer;color:black;padding:0 8px;line-height:28px;}
.menuitem:hover{background:#f5f5f5;}
.menuitem_clicked{color:gray;}

/* 空行 */
.empty_line {padding:2px;text-align:center;height:38px;line-height:38px;}

/* click num */
.cn_blue:hover {
	background:#DFE6FF;cursor:pointer;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #FFF),
		color-stop(1, #DFE6FF) );
}
.cn_org:hover {background:#ff9900;color:#fff;cursor: pointer;}

.uploadPic {width:100%;max-width:200px;max-height:200px;height:200px;border:1px solid #ddd;}

/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 */
.radio_label {
	display:-moz-inline-block;
	display:inline-block;
	cursor:pointer;
	margin:5px 0px;
	padding-left:15px;
	padding-right:4px;
	line-height:14px;
	background:url(../images/radio.png) no-repeat left top;
}

.checkbox_label {
	display:-moz-inline-block;
	display:inline-block;
	cursor:pointer;
	margin:5px 0;
	padding-left:15px;
	line-height:14px;
	background:url(../images/checkbox.png) no-repeat left top;
}

.label_checked {
	background-position:left bottom;
}

.input_out {
	font: 12px;
	height: 20px;
	line-height: 20px;
	border: #bbb 1px solid;
	padding-left: 2px;
}

.input_over {
	font: 12px;
	height: 20px;
	line-height: 20px;
	border: #00bbff 1px solid;
	background-color: #eef6ff;
	color: #05aeeb;
	padding-left: 2px;
}  /*#fffcdf*/

.input_hide {
	-webkit-opacity:0;
	-moz-opacity:0;
	opacity:0;
	filter:alpha(opacity:0);
	position: absolute;
    z-index: -1;
}

.f12 {
	font-size: 12px;
}

.f40 {
	font-size: 40px;
}

.bold {
	font-weight: bold;
}

.h100 {
	height : 100px;
}

.m2 {
	margin: 2px;
}

.m3 {
	margin: 3px;
}

.m5 {
	margin: 5px;
}

.m10 {
	margin: 10px;
}

.mt2 {
	margin-top: 2px;
}

.mt3 {
	margin-top: 3px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mb2 {
	margin-bottom: 2px;
}

.mb3 {
	margin-bottom: 3px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.ml10 {
	margin-left: 10px;
}

.ml30 {
	margin-left: 30px;
}

.mr2 {
	margin-right: 2px;
}

.mr3 {
	margin-right: 3px;
}

.mr5 {
	margin-right: 5px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr35 {
	margin-right: 35px;
}

.mr39 {
	margin-right: 39px;
}

.m50 {
	margin:50px;
}

.lh24 {
	line-height: 24px;
}

.lh31 {
	line-height: 31px;
}

.pd5 {
	padding: 5px;
}

.pt5 {
	padding-top: 5px;
}

.pl5 {
	padding-left: 5px;
}

.pb5 {
	padding-bottom: 5px;
}

.pr5 {
	padding-right: 5px;
}

.w200 {
	width: 200px;	
}

.clear {
	clear: both;
}

.overflow_h {
	overflow: hidden;
}

.padding {
	padding: 1px;
}

.hide {
	display: none;
}

.ws_nowrap {
	white-space:nowrap;
}

/**
 +------------------------------------------------------------------------------
 | 颜色样式
 +------------------------------------------------------------------------------
 */
.red {
	color: #f00;
}

.green {
	color: #06a53b;
}

.gray {
	color: #333;
}

.blue {
	color: #0099ff; /*0086d2*/
}

.org {
	color: #ff9900;
}

.black {
	color: #000;
}

.yellow {
	color: #ecf73a;
}

.white {
	color: #fff;
}

.orange {
	color: #fb6603;
}

.brown {
	color: #af4c0a;
}

.darkbrown {
	color: #6a3906;
}

.purple {
	color: #8a2be2;
}

.bg_gray {
	background-color: #fafafa;
}

.bg_red {
	background-color: #f00;
}

.bg_green {
	background-color: #9acd32;
}

.bg_blue {
	background-color: #0099ff; /*0086d2*/
}

.bg_org {
	background-color: #ff9900;
}

.bg_black {
	background-color: #000;
}

.bg_yellow {
	background-color: #ecf73a;
}

.bg_white {
	background-color: #fff;
}

.bg_orange {
	background-color: #fb6603;
}

.bg_brown {
	background-color: #af4c0a;
}

.bg_dark_brown {
	background-color: #6a3906;
}

.bg_light_brown {
	background-color: #8b814c;
}

.bg_purple {
	background-color: #8a2be2;
}

.bg_dark_blue {
	background-color: #3a87ad;
}

.bg_dark_green {
	background-color: #8fbc8f;
}

.bg_dark_yellow {
	background-color: #cdbe70;/*cdba96*/
}

/**
 +------------------------------------------------------------------------------
 | 定位样式
 +------------------------------------------------------------------------------
 */
.fl {
	float: left;
}

.fr {
	float: right;
}

.tl {
	text-align: left;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.fcenter {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.v_m {
	vertical-align: middle;
}

.t_c {
	text-align: center;
}

.bd_top {
	border-top: 1px solid #ddd;
}

.bd_top_blod {
	border-top: 2px solid #ddd;
}